.slide{

  .carousel{
    p{
      line-height: 1.5;
      margin: 0 auto;
    }
    i{
      margin-top: 60px;
      text-align: center;
    }
    div{
      width: 400px;
      height: 500px;
    }
  }
}

