button{
  background-color: var(--yellow);
  padding: 10px 15px;
  border: none;
  font-weight: bold;
  color: #232323;
  font-family: 'Merriweather Sans', sans-serif;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover{
    background-color: black;
    color: var(--yellow);
  }

}