nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  position: relative;


h3{
  color: white;
}

   img{
    height: 50px;
    width:100px;
  }

  ul{
    list-style: none;
    display: flex;
    gap:30px;

    a{
      text-decoration: none;
      color: white;
      &:active{
        font-weight: 500;
      }

    }
  }


}